.experiences {
    grid-area: 2 / 1 / 3 / 4;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.experience-item {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    border-radius: 10px;
    color: var(--experience-item-color, #000);
    background-color: var(--experience-item-bg, #fff);
}

.experience-item:first-of-type {
    --experience-item-bg: #28d979;
    --experience-item-color: #fff;
    --experience-item-description-color: #fff;
}

.experience-item-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 8px;
}

.description-list {
    padding-left: 10px;
    list-style: disc;
}

.experience-info {
    color: var(--experience-item-description-color, #3f3d3d);
}

@media screen and (width < 600px) {
    .experiences {
        grid-area: 3 / 1 / 4 / 5;
    }
}