.interests {
    grid-area: 3 / 3 / 4 / 5;
}

.interests-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.interest-item {
    padding: 4px 10px;
    border-radius: 40px !important;
}

@media screen and (width < 600px) {
    .interests {
        grid-area: 6 / 1 / 7 / 5;
    }
}