.tools {
    grid-area: 2 / 4 / 3 / 5;
    padding-bottom: 0 !important;
}

.tools-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    gap: 12px;
    width: calc(100% - 24px);
    align-self: center;
}

.tools-item {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    padding: 16px 4px;
    border-radius: 6px;
    flex: 1;
    gap: 16px;
}

.tools-item::before {
    position: absolute;
    font-size: 5px;
    line-height: 7px;
    padding: 2px 6px;
    top: -5px;
    left: 50%;
    color: white;
    background-color: black;
    text-wrap: nowrap;
    border-radius: 5px;
    content: attr(data-title);
    transform: translate(-50%, 0);
}

.tools-logo {
    max-width: 16px;
    width: 100%;
    aspect-ratio: 1;
}

.tools-logo:nth-of-type(n - 1) {
    justify-self: end;
}

.tools-logo:nth-of-type(2n) {
    justify-self: start;
}

@media screen and (width < 600px) {
    .tools {
        grid-area: 4 / 1 / 5 / 5;
        flex-direction: row;
        padding-bottom: 12px;
    }

    .tools-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8px;
        padding-bottom: 5px;
    }
}